{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="app-card sm">
            <div class="main-container">
                <h2 class="text-center mb-4">
                    Welcome back
                </h2>
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" name="password" required>
                            <button class="btn btn-outline-secondary" type="button" onclick="togglePassword()">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-gradient w-75">
                            Login
                        </button>
                    </div>

                </form>
                <hr>
                <p class="text-center">
                    Don't have an account? <a href="{{ url_for('register') }}">Register here</a>
                </p>
            </div>
    </div>
</div>

<script>
    function togglePassword(){
        const password=document.getElementById("password");
        if (password.type=="password"){
            password.type="text";
        }
        else{
            password.type="password";
        }
    }
</script>
{% endblock %}

