{% extends "base.html" %}

{% block title %}Event Summary - Student Events{% endblock %}

{% block content %}
<div class="main-container">
    <h2 class="mb-4">
        <i class="bi bi-gear"></i>User Details: {{ student.student_name }}
    </h2>
    
    <div class="card mb-4">
        <div class="card-body">
            <h5>Student Details</h5>
            <p><strong>Student ID:</strong> {{ student.student_id }}</p>
            <p><strong>House:</strong> {{ student.house }}</p>
            <p><strong>Grade:</strong> {{ student.grade}}</p>
            <p><strong>Section:</strong> {{ student.section}}</p>
            <p><strong>Age:</strong> {{ student.age }}</p>
            <p><strong>Gender:</strong> 
                {% if student.gender == 'G' %}Female
                {% elif student.gender == 'B' %}Male 
                {% else %}N/A
                {% endif %}<p></p>
            <p><strong>Date of Birth:</strong> {{ student.birthdate }}
            </p>
            <p><strong>Position:</strong> 
                {% if student.position %}{{ student.position.replace('_', ' ').title() }}
                {% else %}None
                {% endif %}
            </p>
        </div>
    </div>    
</div>
    <a href="{{ url_for('dashboard') }}" class="btn btn-secondary btn-custom mt-3">
        <i class="bi bi-arrow-left"></i> Back to Dashboard
    </a>
{% endblock %}