{% extends "admin_base.html" %}

{% block title %}Update Student: {{ student_id }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="main-container">
                <h2 class="text-center mb-4">
                    <i class="bi bi-person-gear"></i> Update Student
                </h2>
                <form method="POST" action="{{ url_for('update_student', student_id=student_id) }}">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="first-name" name="first-name">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Middle Name</label>
                            <input type="text" class="form-control" id="middle-name" placeholder="Optional" name="middle-name">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="name" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="last-name" name="last-name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="grade" class="form-label">Grade</label>
                            <input type="number" class="form-control" id="grade" name="grade" min="0" max="12">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="section" class="form-label">Section</label>
                            <input type="text" class="form-control" id="section" name="section">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="birthdate" class="form-label">Birthdate</label>
                            <input type="date" class="form-control" id="birthdate" name="birthdate">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="gender" class="form-label">Gender</label>
                            <select class="form-select" id="gender" name="gender">
                                <option value="B">Male</option>
                                <option value="G">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="position" class="form-label">Position</label>
                            <select class="form-select" id="position" name="position">
                                <option value="prefect">Prefect/Vice Prefect</option>
                                <option value="house_leader">House Leader</option>
                                <option value="club_leader">Club Leader</option>
                                <option value="event_coordinator">Event Coordinator</option>
                                <option value=default_if_none:""></option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="club" class="form-label">Club</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="alert alert-info">
                        <i class="bi bi-info-circle"></i> Student data will be altered to database.
                    </div>
                    <button href=url_for('manage_students') type="submit" class="btn btn-primary btn-custom w-100">
                        <i class="bi bi-person-gear"></i> Update Student
                    </button>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}

