{% extends "admin_base.html" %}

{% block title %}Update Students with XLSX - Student Events Management{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="main-container">
                <h2 class="text-center mb-4">
                    <i class="bi bi-box-arrow-in-right"></i> Update Students with XLSX
                </h2>
                <form method="POST" action="{{ url_for('update_students_xlsx') }}">
                    <div class="mb-3">
                        <label for="file" class="form-label">Upload XLSX File</label>
                        <input type="file /" accept=".xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .xls, application/vnd.ms-excel" class="form-control" id="file" name="file" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-custom w-100">
                        <i class="bi bi-box-arrow-in-right"></i> Update
                    </button>
                </form>
                <hr>
                <p class="text-center">
                    Don't have an account? <a href="{{ url_for('manage_students') }}">Register here</a>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
